// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";

@import "../pages/articles/articles";

.header__image {
    display: block;
    margin: auto;
    max-width: 100px;
}
