<ion-header>
  <ion-navbar>
    <!--ion-title>Home</ion-title-->
    <img class="header__image" src="build/images/train1.png">
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
    <div class="home__buttons-container">
        <div class="home__buttons">
            <button *ngIf="!startStation"
                (click)="openModal('start')">
                Where are you now? 
                <ion-icon name="search"></ion-icon>
            </button>

            <button outline *ngIf="startStation"
                (click)="openModal('start')">
                {{ startStation.Name }}
                <ion-icon name="create"></ion-icon>
            </button>

            <button *ngIf="!endStation"
                (click)="openModal('end')">
                Where are you going?
                <ion-icon name="search"></ion-icon>
            </button>

            <button outline *ngIf="endStation"
                (click)="openModal('end')">
                {{ endStation.Name }}
                <ion-icon name="create"></ion-icon>
            </button>
        </div>

        <button secondary [disabled]="!startStation && !endStation"
            (click)="runTripQuery()">
            Find me things to read
        </button>
    </div>
</ion-content>
