<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
      <button outline class="home__button"
          *ngIf="!startStation"
          (click)="openModal('start')">
              <span>Where are you now?</span>
              <ion-icon name="search"></ion-icon>
        </button>

        <button outline class="home__button"
            *ngIf="startStation"
            (click)="openModal('start')">
              <span>{{ startStation.Name }}</span>
              <ion-icon name="create"></ion-icon>
        </button>

        <button outline class="home__button"
            *ngIf="!endStation"
            (click)="openModal('end')">
              <span>Where are you going?</span>
              <ion-icon name="search"></ion-icon>
        </button>

        <button outline class="home__button"
            *ngIf="endStation"
            (click)="openModal('end')">
              <span>{{ endStation.Name }}</span>
              <ion-icon name="create"></ion-icon>
        </button>

        <button secondary class="home__button home__button--submit"
            [disabled]="!startStation && !endStation"
            (click)="runTripQuery()">
              <span>Find me some things to read</span>
              <ion-icon name="arrow-forward"></ion-icon>
        </button>
</ion-content>
