.home {

  .home__button {
    display: block;
    margin: 2rem auto;
    width: 85vw;;
  }

  .home__button > .button-inner { 
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

}
